.select-block {
  position: relative;
}

.select-block + .select-block {
  margin-top: 1.4rem;
}

.select-block select {
  width: 100%;
  height: 5.6rem;
  margin-top: 0.8rem;
  border-radius: 0.8rem;
  background: var(--color-input-background);
  border: 1px solid var(--color-line-in-white);
  outline: 0;
  padding: 0 1.6rem;
  font: 1.6rem Archivo;
}
.select-block:focus-within::after {
  width: calc(100% - 3.2rem);
  height: 2px;
  content: "";
  background: var(--color-primary-light);
  position: absolute;
  left: 1.6rem;
  right: 1.6rem;
  bottom: 0;
}

.select-block .react-select-component .react-select__menu .react-select__option--is-focused:hover {
  font-weight: bold;
  background-color: var(--color-line-in-white);
}

/* Scroll Bar */
.select-block .react-select-component .react-select__menu-list::-webkit-scrollbar {
  width: 14px;
  height: 0px;
}
.select-block .react-select-component .react-select__menu-list::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.select-block .react-select-component .react-select__menu-list::-webkit-scrollbar-thumb {
  background: var(--color-text-in-primary);
}
.select-block .react-select-component .react-select__menu-list::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary-light);
}